<% provide(:title, 'About') %>

<h1>About</h1>
<p>
  This is the Manage Property System for
  <a href="http://www.holidale.com">Holidale Inc.</a>
  created by 
  <a href="https://www.linkedin.com/in/ziyuechen">Ziyue Chen</a>.
  
</p>