<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
  Contact Holidale Inc. at the
  <a href="http://holidale.com/contact_us?locale=en">contact page</a>, 
  or email 
  <a href="https://www.linkedin.com/in/ziyuechen">Ziyue Chen </a>
  to ziyuechen@yahoo.com.
</p>