<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Property Manage System", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Guest List", "/guests" %></li>
        <li><%= link_to "Room List", "/rooms" %></li>
      </ul> 
    </nav>
  </div>
</header>